.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #2196f3, #1e88e5);
}

.login-card {
    width: 400px;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #fff;
}

mat-card-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.full-width {
    width: 100%;
    margin-bottom: 1rem;
}

button[mat-flat-button] {
    height: 45px;
    font-size: 1rem;
}