.dialog-content {
    max-height: 70vh;
    overflow: auto;
    padding-top: 10px;
}

.full-width {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: 600;
    background-color: #f5f5f5;
    color: #003366;
}

td,
th {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #fafafa;
}